<!--<nav [ngClass]="{ 'all-good' : userName !== 'anon', 'logged-out' : userName === 'anon' }" class="nav-extended">-->
<mat-toolbar [ngClass]="{ 'nav-authed ' : isLoggedIn === true, 'nav-unauthed' : isLoggedIn === false }" color="primary">
  <mat-toolbar-row style="justify-content: center">
    <div>
      <p class="rammetto-font">Sku-Easy</p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row style="justify-content: flex-end;">
      <button mat-raised-button color="accent" class="btn-space" (click)="openDialog()">Log In</button>
      <button mat-raised-button color="warn" (click)="logout()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
  <div class="controls">
    <h3 class="rammetto-font number">{{newestSku}}</h3>
    <button #button color="accent" id="generate" class="generate-button" mat-raised-button>Generate</button>
  </div>
  <div class="display">
    <div>
      <!--<h1>Generated Sku's:</h1>-->
      <!--<table class="data-table">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>Number</th>-->
          <!--<th>User</th>-->
          <!--<th>Time Stamp</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr *ngFor="let sku of skus">-->
          <!--<td>{{sku.number}}</td>-->
          <!--<td>{{sku.generatedBy}}</td>-->
          <!--&lt;!&ndash; <td>{{sku.timeStamp.seconds | date : 'mediumTime': '+0900'}}</td> &ndash;&gt;-->
          <!--<td>{{ sku.timeStamp | date : 'shortDate' }} @ {{ sku.timeStamp | date : 'shortTime' }}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search For Sku">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Person </th>
          <td mat-cell *matCellDef="let element"> {{element.generatedBy}} </td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.timeStamp | date : 'shortTime'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>
