<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <div class="form-flex">
      <mat-form-field>
        <input [(ngModel)]="username" matInput placeholder="User Name">
      </mat-form-field>
      <mat-form-field>
        <input type="password" [(ngModel)]="password" matInput placeholder="Password">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button style="margin: 0px 12px" mat-raised-button color="accent" (click)="login()">Log In</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
